Debug/*
Release/*
.xdchelp
config/*
.launches/*
*/Debug
targetConfigs
.launches
.settings

.project
.cproject
.ccsproject
tm4c123gh6pm_startup_ccs.c
tm4c123gh6pm.cmd

RemoteSystemsTempFiles
.metadata
.jxbrowser.userdata